.squareContainer {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-radius: 1px;
    border-style: solid;
    width: 960px;
    height: 960px;
    gap: 1px;
    
}

.square {
    width: 20px;
    height: 20px;
    background-color: white;
}